.intro {
    flex: 1;
    padding-top: 15vh;
    display: flex;
    height: calc(100vh - 15vh);
    width: 100vw;
    overflow: hidden;
    z-index: -1;
}

.intro-contentinfo h1 {
    color: #c52b30;
}

.intro-contentinfo p {
    color: #373485;
}

.intro-contentinfo-but {
    border-radius: 30px;
    margin-top: 10px;
    background-color: #33a0d1;
    color: #e6e6e7;
    font-family: NFS;
    text-align: center;
    text-decoration: none;
}

@media screen and (max-width: 648px) {
    .intro
    {
        margin-top: -115vh;
        margin-bottom: 15vh;
    }
    .into-content {
        display: flex;
        margin-top: 40vh;
        position: absolute;
        width: 80vw;
        padding: 20px;
        margin-left: 4vw;
    }

    .intImg-Img {
        height: 80vh;
        width: 100vw;
    }

    .into-content {
        transform: skew(-5deg);
        backdrop-filter: blur(80px);
    }

    .intro-contentinfo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 15px;
    }

    .intro-contentinfo-h1 {
        text-align: center;
        font-size: 2.1rem;
    }

    .intro-contentinfo-p {
        font-size: 1.5rem;
    }

    .intro-contentinfo-but {
        font-size: 1.3rem;
        padding: 0 20px 0 20px;
        align-self: center;
    }
}
@media screen and (min-width:650px)
{
    .intro-contentinfo {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
        width: 35vw;
    }

    .intImg {
        flex: 1;
        display: flex;
        width: 40%;
        position: relative;
        margin-left: 5vw;
    }

    .intImg-Img {
        width: 60vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.72), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
    }

    .intro-contentinfo-h1 {
        font-size: 2.3rem;
        margin-top: -35px;
    }

    .intro-contentinfo-p {
        margin-top: 10px;
        font-size: 1.7rem;
    }

    .intro-contentinfo-but {
        border-radius: 30px;
        height: 5vh;
        width:max-content;
        padding: 0 20px 0 20px;
        margin-top: 10px;
        background-color: #33a0d1;
        color: #e6e6e7;
        font-family: NFS;
        font-size: 1.4rem;
        padding-top: 1vh;
    }

    .into-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: calc(100vh - 15vh);
        width: 40vw;
        padding-left: 3vw;
        backdrop-filter: blur(50px);
        transform: skew(-10deg);
    }
}

@media screen and (min-width:1000px) {
    .intro-contentinfo {
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 1;
        width: 35vw;
    }

    .intImg {
        flex: 1;
        display: flex;
        width: 50%;
        position: relative;
        margin-left: 5vw;
    }

    .intImg img {
        width: 70vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.72), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
    }

    .intro-contentinfo-h1 {
        font-size: 3.5rem;
        margin-top: -35px;
    }

    .intro-contentinfo-p {
        margin-top: 10px;
        font-size: 2rem;
    }

    .intro-contentinfo-but {
        border-radius: 30px;
        height: 5vh;
        width: 10vw;
        margin-top: 10px;
        background-color: #33a0d1;
        color: #e6e6e7;
        font-family: NFS;
        font-size: 1.4rem;
        padding-top: 1vh;
    }

    .into-content {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: calc(100vh - 15vh);
        width: 40vw;
        padding-left: 3vw;
        margin-left: -15vw;
        backdrop-filter: blur(80px);
        transform: skew(-10deg);
    }
}