.popular
{
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    width: 90vw;
    margin-left: 5vw;
    padding-bottom: 4vh;
}
.poph3
{
    align-self:center;
    color: #c52b30;
    font-size: 3.1rem;
}
.car-types
{
    margin-top: 3vh;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}
.cartype
{
    font-size: 1.3rem;
    border-radius: 30px;
    background-color: #33a0d1;
    color: #e6e6e7;
    font-family: nfs;
    width:15vw;
}
.cartype:hover{
    box-shadow: 0px 0px 20px 5px white;
}
.cardofcars
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
}
.car-card
{
    margin-top: 5vh;
}
.imageCard
{
    height: 50vh;
    width: 23vw;
    box-shadow: 0px 0px 20px 5px white;
    border-radius: 30px;
}
#sports
{
    position: absolute;
    visibility: hidden;
}
#jdm
{
    position: absolute;
    visibility: hidden;
}
#hypbut:checked + #hyper
{
    visibility: visible;
}
#spobut:checked + #sports
{
    visibility: visible;
}
#jdmbut:checked + #jdm
{
    visibility: visible;
}