.popular {
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    width: 90vw;
    margin: 5vw;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

.show {
    display: block;
}

.poph3 {
    align-self: center;
    text-align: center;
    color: #c52b30;
    font-size: 3.1rem;
}

.car-types {
    margin-top: 3vh;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
}

.cartype {
    font-size: 1.3rem;
    padding: 0 15px 0 15px;
    border-radius: 30px;
    background-color: #33a0d1;
    color: #e6e6e7;
    text-align: center;
    font-family: nfs;
    width: max-content;
}

.cartype:hover {
    box-shadow: 0px 0px 20px 5px white;
}

.cartype.active {
    background-color: #373485;
}

@media screen and (min-width : 650px) {
    .cardofcars {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4vw;
    }

    .car-card {
        margin-top: 5vh;
    }

    .imageCard {
        height: 50vh;
        width: 23vw;
        box-shadow: 0px 0px 20px 5px white;
        border-radius: 30px;
    }
}

@media screen and (max-width : 648px) 
{
    .cardofcars
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4vw;
    }
    .car-card{
        margin-top: 5vh;
    }
    .imageCard{
        height: 30vh;
        width: 40vw;
        box-shadow: 0px 0px 20px 5px white;
        border-radius: 30px;
    }
}