.whySection {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../Assets/homeMidLeft.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    width: 100vw;
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    flex-direction: column;
    height: max-content;
}
@media screen and (max-width: 640px) {
    .whySection-content {
        transform: skew(-5deg);
    }
}


.whySection-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15vw;
    padding-left: 5vw;
}

.whySection-content h2 {
    color: #c52b30;
}

.whySection-content p {
    color: #373485;
}

@media screen and (min-width:1000px) {
    .whySection {
        margin: 1vw;
        width: 97vw;
        height:90vh;
        overflow: hidden;
    }
    .whySection-content {
        margin-left: 40vw;
        transform: skew(-10deg);
    }

    .whySection-content h2 {
        font-size: 3.1rem;
    }

    .whySection-content p {
        font-size: 1.5rem;
    }
}